html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(245, 245, 178);
}

.logo{
  display: flex;
  justify-content: flex-start;
  margin-left: 150px;
  width: 100%;
  height: 50px;
  align-items: center;
}

.titulo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 40px;
}

.titulo span{
  margin-bottom: 10px;
}

.form-new {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(./img/fundo.png) center/cover;
  height: 700px;
  width: 950px;
  border-radius: 5%;
}


.inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputs label {
    font-size: 12px;
    margin-bottom: 10px;
}

.inputs input{
  height: 36px;
  width: 400px;
  padding-left: 6px;
  border-radius: 10px;
  border: 1.75px solid #ececec;
}

.button {
  margin-bottom: 15px;
}

.button button{
  width: 30%;
  height: 30px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #373737;
  cursor: pointer;
}

.button button:hover{
  background-color: #585858;
}

a{
  text-decoration: none;
  color:#585858;
  font-weight: bolder;
}

.fs-24 {
  font-size: 24px;
  font-weight: bolder;
  color: #585858;
}